<a class="chip-button share-button" href="{{ public_url('shared_dive', dive_id=dive.id) }}" data-share-dive data-share-url="{{ public_url('shared_dive', dive_id=dive.id) }}" data-share-image="{{ public_url('shared_dive_image', dive_id=dive.id) }}" data-share-download="{{ public_url('shared_dive_image', dive_id=dive.id, download=1) }}" data-share-title="{{ dive.site_name }}" aria-label="Share dive at {{ dive.site_name }}">
    <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 16V3m-4 4 4-4 4 4"></path><path d="M6 12H4v9h16v-9h-2"></path></svg>
    Share
</a>
