<div class="tank-size-control" role="group" aria-label="Tank size">
    <span class="tank-size-label">Tank size</span>
    <div class="tank-size-options">
        <label>
            <input class="sr-only" type="radio" name="tank_size_l" value="12" data-tank-size{{ ' checked' if tank_size_l == 12 else '' }}>
            <span>12 L</span>
        </label>
        <label>
            <input class="sr-only" type="radio" name="tank_size_l" value="15" data-tank-size{{ ' checked' if tank_size_l == 15 else '' }}>
            <span>15 L</span>
        </label>
    </div>
</div>
