<div class="tank-size-control" role="group" aria-label="Tank size">
    <span class="tank-size-label">Tank size</span>
    <div class="tank-size-options">
        <label>
            <input class="sr-only" type="radio" name="tank_size_preview" value="12" data-tank-size checked>
            <span>12 L</span>
        </label>
        <label>
            <input class="sr-only" type="radio" name="tank_size_preview" value="15" data-tank-size>
            <span>15 L</span>
        </label>
    </div>
    <small>Not saved</small>
</div>
